<div class="com_box com_box_onlyyd" id="comDateBox" style="display: none;">
    <div class="com_box_btn">
        <span class="com_box_complete" id="comDateComplete">完&nbsp;&nbsp;成</span>
    </div>
    <div class="com_box_panel">
        <div class="com_box_wrap">
            <div class="com_box_listpanel">
                <div class="com_box_list com_box_year h5-scroll" id="comDateBoxYear">
                    <ul id="comDateBoxYearList"></ul>
                </div>
                <div class="com_box_list com_datebox_month h5-scroll" id="comDateBoxMonth">
                    <ul id="comDateBoxMonthList"></ul>
                </div>
                <div class="com_box_list com_datebox_day h5-scroll" id="comDateBoxDay">
                    <ul id="comDateBoxDayList"></ul>
                </div>
                <!-- <div class="com_box_center_liner"></div> -->
            </div>
        </div>
    </div>
</div>